// ------------------------------------------
// RTL Variables
// ------------------------------------------

$app-left: right;
$app-right: left;
$app-direction: rtl;
$app-invert-direction: ltr;
$imp: !important;