// ------------------------------------------
// LTR Variables
// ------------------------------------------

$app-left: left;
$app-right: right;
$app-direction: ltr;
$app-invert-direction: rtl;
$imp: !important;